@tailwind base;
@tailwind components;
@tailwind utilities;


.grid{
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.img{
    /* max-width: 50px; */
    cursor: pointer;
    /* height: auto; */
}

/* .filf{
    transition: .5s ease;
}

.font{
    position: absolute;
    transform: rotateY(90deg);
}

.filf .font{
    position: relative;
    transform: rotateY(-90deg);

}
.filf .back{
    position: absolute;
    transform: rotateY(90deg);
} */
.flex{
    display: flex;
    flex-direction: column;
    position: relative;
}